@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=cyrillic');
@import '../node_modules/normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    background-color: #f3f7fa;
    color: #4a4a4a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.root {
    max-width: 1024px;
    padding: 50px 103px 100px;
    margin: 0 auto;
}